:root {
    --logo-color: #4D5AE5; 
    --text-color: #434455;
    --title-color: #2E2F42;
    --activebutton-background: #404BBF;
    --hero-color: #FFFFFF;
    --substrate-color: #F4F4FD;
    --accent-color: #E7E9FC;
    }
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
    }   
a {
    text-decoration: none;
}   
.list {
    list-style: none;
} 
.header-logo {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}
.logo-second-header {
    color: var(--title-color);
}
.header-item:hover,
.header-item:focus {
    color: var(--activebutton-background);
}
.header-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
   }
.contact-item:hover,
.contact-item:focus {
    color: var(--activebutton-background);
}
.contact-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.hero {
    background: var(--title-color);
    color: var(--hero-color);
} 

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    }
.hero-btn {
    font-family: 'Roboto';
    background: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--hero-color);
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background: var(--activebutton-background);
    color: var(--hero-color);
}
.subtitle {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   text-transform: capitalize;
   color: var(--title-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
 
.item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--text-color);
}

.filter-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em; 

    color: var(--logo-color);
    background: var(--substrate-color);
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    background: var(--activebutton-background);
    color: var(--hero-color);
}
.card {
    text-align: center;  
    background: var(--substrate-color);
    width: 264px;
}
.list .projects {
    width: 360px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    background: var(--hero-color);
}
.list-item {
    align-items: center;
    background: var(--hero-color);
}

.project-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.project-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
footer {
    background: var(--title-color);
    line-height: 1.5x;
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}
.logo-second-footer {
    color: var(--substrate-color);
}
.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}